extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    
    if (role.permissions.includes("roles_view"))

        +alert-success(1000)

        div(class="") 
            h1 Nhóm quyền

        div(class=' mt-[30px] flex border border-[#D8D8D8] rounded-[8px] flex-col gap-[20px] overflow-hidden')
            div(class=" p-[20px] bg-[#EDEDED]") Danh sách
            if (role.permissions.includes("roles_create"))
                div(class="flex justify-end px-[20px] py-[10px]")
                    a(href=`${prefixAdmin}/roles/create`) 
                        div(class="w-fit p-[13px] border border-[#28A745] cursor-pointer hover:bg-[#1D7E33] bg-[#28A745] text-[#ffff] rounded-[8px]") + Thêm mới
            table(class="w-full border-collapse border " checkbox-multi)
                thead(class="")
                    tr(class="border-b-[2px] border-t border-[#DADADA] ")
                        th(class="pl-[10px]")  STT
                        th(class="") Tiêu đề
                        th(class="") Mô tả ngắn 
                        th(class="") Hành động
                tbody 
                    if (records.length > 0)
                        each item, index in records
                                tr(class="border-b  border-[#DADADA] hover:bg-[#CFCFCF] cursor-pointer")
                                    td(class="pl-[10px]") #{index + 1}
                                    td #{item.title}
                                    td #{item.description}
                                    td(class="")
                                        div(class="flex items-center gap-[5px]")
                                            if (role.permissions.includes("roles_edit"))
                                                a(href=`${prefixAdmin}/roles/edit/${item.id}` class="text-[#000] bg-[#FFC107] hover:bg-[#E0A800] border-none p-[10px] rounded-[5px] cursor-pointer") Sửa 
                                                button(class="border-none bg-[#DC3545] hover:bg-[#C82333] text-[#ffff] p-[11.5px] rounded-[5px] cursor-pointer" data-id=item.id delete-button) Xóa
                                            a(href=`${prefixAdmin}/roles/detail/${item.id}` class="text-[#ffff] bg-[#6B747C] hover:bg-[#5A6268] border-none p-[10px] rounded-[5px] mr-[5px] cursor-pointer") Chi tiết 
                    else 
                        tr(class="border-b  border-[#DADADA]")
                            td(class="text-center") Chưa có nhóm quyền nào được tạo
