extends ../../layouts/default.pug


block main 

    div(class="w-[1200px] mx-auto my-[50px]")

        if(product.title)
            h1(class="mb-[24px]") #{product.title}

        if(product.thumbnail)
            div(class="mb-[24px]") 
                img(src=product.thumbnail, class="w-[200px]")

        if(product.category.title)
            div(class="mb-[24px] ") Danh mục:
                b  #{product.category.title}

        if(product.discountPercentage)
            div(class="mb-[24px]") Giá: 
                b $#{product.newPrice}
            div(class="mb-[24px]") Giá gốc: 
                b(class="line-through text-[#F70000]") $#{product.price}
        else
            div(class="mb-[24px]") Giá: 
                b $#{product.price}

        if(product.discountPercentage)
            div(class="mb-[24px]") Giảm giá: 
                b #{product.discountPercentage}%

        if(product.stock)
            div(class="mb-[24px]") Còn lại: 
                b #{product.stock}
        else
            div(class="mb-[24px]") Còn lại: 
                b(class="text-[#F70000]") Hết hàng
        
        if(product.status)
            div(class="mb-[24px]") 
                span Trạng thái:      
                if(product.status === "active") 
                    span(class="bg-[#28A745] text-[#ffff] font-[600] p-[5px] rounded-[8px] hover:bg-[#1D7E33]") Hoạt động
                else 
                    span(class="bg-[#DC3545] font-[600] text-[#ffff] p-[5px] rounded-[8px] hover:bg-[#C82333]") Dừng hoạt động

        if(product.position)
            div(class="mb-[24px]") Vị trí: 
                b #{product.position}

        if(product.description)
            div(class="mb-[24px]") !{product.description}

        form(action=`/cart/add/${product.id}` method="POST")
            div(class="mb-[24px]")
                input(type="number" name="quantity" value="1" min="1" max=product.stock)
            button Thêm vào giỏ hàng

       

    
       

    


