extends ../../layouts/default.pug
include ../../mixins/box-head.pug


block main 


    div(class="w-[1200px] mx-auto py-[50px]")
        div
            +box-head(pageTitle)

        div(class="chat-box")
            div(class="messages")
                each chat in chats 
                    div(class=`message ${chat.user_id == user.id ? 'right' : 'left'}`)
                        if (chat.user_id !== user.id)
                            div(class="name") #{chat.infoUser.fullName}
                        p #{chat.content}
                div(class="inner-list-typing")


            form(action="" class="input-bar" my-id=user.id my-name=user.fullName)
                input(type="text" placeholder="Nhập nội dung..." name="content")
                div(class="button-icon text-[#FF4DA6] ml-[8px] text-[30px] cursor-pointer") <i class="fa-solid fa-face-smile"></i>
                div(class="tooltip" role="tooltip")
                    emoji-picker
                button(class="send-btn text-[#ffff]")
                    i(class="fa-solid fa-paper-plane")

                            