extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/products-layout.pug
include ../../mixins/alert.pug

block main 

    +alert-success('1000')
    +alert-error('1000')

    div(class="w-[1200px] mx-auto pt-[30px] pb-[30px]")
        +box-head(pageTitle)

        if (cartDetail.products.length > 0)

            div 
                table(class=" w-full border-[#C6C8CA] border-collapse ")
                    thead 
                        tr
                            th(class="border border-[#C6C8CA]") STT
                            th(class="border border-[#C6C8CA]") Ảnh
                            th(class="border border-[#C6C8CA]") Tên
                            th(class="border border-[#C6C8CA]") Giá
                            th(class="border border-[#C6C8CA]") Số lượng
                            th(class="border  border-[#C6C8CA]") Tổng tiền
                        tbody 
                            each item, index in cartDetail.products
                                tr 
                                    td(class="border border-[#C6C8CA]  text-center") #{index + 1}
                                    td(class="border border-[#C6C8CA] text-center ") 
                                        img(src=item.productInfo.thumbnail, alt="Sản phẩm 1" class="w-[80px]")
                                    td(class="border border-[#C6C8CA] text-center ") #{item.productInfo.title}           
                                    td(class="border border-[#C6C8CA] text-center") $#{item.productInfo.newPrice}
                                    td(class="border border-[#C6C8CA]  text-center") #{item.quantity}
                                    td(class="border border-[#C6C8CA] text-center") $#{item.totalPrice}
                
                h3(class='text-right') Tổng đơn hàng: $#{cartDetail.totalAmount}
                div(class="text-right mt-[30px]")
                    a(href="/checkout" class="p-[13px] border border-[#28A745] cursor-pointer hover:bg-[#1D7E33] bg-[#28A745] text-[#ffff] rounded-[8px]") Thanh toán

        else 
            h3(class="text-center") Không có sản phẩm nào trong giỏ hàng
           
       
    script(src="/client/js/cart.js")  

        