extends ../../layouts/default.pug
include ../../mixins/box-head.pug


block main 


    div(class="w-[1200px] mx-auto py-[50px]")
        include ../../partials/list-btn-users.pug

        div
            +box-head(pageTitle)
        div(class="flex gap-[10px]" data-users-accept=user.id)
            each user in users
                .box-user(user-id=user.id)
                    .inner-avatar
                        img(src="https://i.pravatar.cc/60", alt="Avatar")
                    .inner-info
                        h4 #{user.fullName}
                        .btn-group
                            button(class="add" btn-accept-friend=user.id) Chấp nhận
                            button(class="cancel" btn-refuse-friend=user.id) Xóa  
                            button(class="deleted hidden" btn-deleted-friend disabled) Đã xóa
                            button(class="accepted hidden text-[#fff] bg-[#3E96F5]" btn-accepted-friend disabled) Đã chấp nhận

block script               
    script(type="module" src="/js/users.js") 


               

                            